/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.acerca {
	position:fixed;
  	top:0%;
	right: 14%;
	height: 65px;
	width: 150px;
}

.acerca:hover{
	position:fixed;
	background-color: #4663b3;
	z-index: 1;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	width: auto;
	max-height: 400px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 0px;
}

.menuIcon {
	position: fixed;
	top: 0.5%;
	left: 60px;
	height: 60px;
	width: 60px;
}

.background {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	z-index: -1;
}

.menu {
	position: fixed;
	top: 0%;
	left: 0%;
	height: 65px;
	width: 100%;
	background: #1c3659;
	z-index: -1;
}

.serverResponseLabelError {
	color: red;
}

.titulo {
	text-decoration: underline;
	white-space: pre;
	font-weight: bold;
}

.descripcionTable {
	white-space: pre;
	text-align: justify;
	text-justify: inter-word;
}

.updateTable, .alumnoTable {
	border: 2px solid black;
	margin: 5px;
}

.alumnoTable tr:hover {
	background-color: #dddddd;
}

.firstRow {
	background-color: #d82912;
	color: #eeeeee;
}

.firstRow:HOVER {
	background-color: #ff4900;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}