<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
   
 
  <servlet>
    <servlet-name>contactServlet</servlet-name>
    <servlet-class>com.aiss.gamingguru.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>contactServlet</servlet-name>
    <url-pattern>/gamingguru/alumno</url-pattern>
  </servlet-mapping>
  
  <!-- Servelets necesarios para el uso de la API de VideoGameInformation -->
  
  <servlet>
    <servlet-name>GuruServlet</servlet-name>
    <servlet-class>com.aiss.gamingguru.server.GuruServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GuruServlet</servlet-name>
    <url-pattern>/gamingguru/guru</url-pattern>
  </servlet-mapping>
  
  <!-- Elementos necesarios para la API -->
  
  <context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
  </context-param>
  
  <servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.aiss.gamingguru.api.GuruApplication</param-value>
		</init-param>
  </servlet>
  
  <servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GamingGuru.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
</web-app>